body{
    font-family: Arial;
    height: fit-content;
}
h1{
    text-align: center;
    color: #00447C; /* CSS Blue */
    width: 100%;
    margin-top: 0px;
    padding-bottom: 5px;
    position: absolute;
    top: 90px;
}
#redBlackInfo, #wheatSteelInfo, #userInfo, #links{
    text-align: center;
    color: #00447C;
    font-size: 24px;
    width: 100%;
    position: relative;
}

#studentNames{
    text-align: center;
    color: #00447C;
    font-size: 24px;
    width: 65%;
    position: relative;
    margin: 0 auto;
}

#redBlackGameDates, #wheatSteelGameDates{
    text-align: center;
    color: #00447C;
    font-size: 24px;
    width: 65%;
}
#redBlackGameDates{
    position: absolute;
    left: 25%;
}

#wheatSteelGameDates{
    position: relative;
    left: 62.5%;
}

.gameDateCell, caption{
    padding: 3px;
}

#userInfo{
    margin-top: 0;
}

#redBlackRounds{
    text-align: center;
    color: black;
    font-size: 24px;
    width: 23%;
    position: relative;
    margin: 0 auto;
}

.tableHeader{
    color:#FFCB00;
    background-color:#00447C;
}