.select-game {
    font-size: 24px;
    margin-bottom: 20px;
}

.button-container {
    position: relative;
    display: flex; /* Add flex display for side-by-side alignment */
    justify-content: space-between;
}

.game-button:first-child {
    margin-right: 20px; /* This adds 20 pixels of space to the right side of the first image */
}

.game-button {
    cursor: pointer;
    width: 50%; /* each image will take half of the container's width */
    height: 50vh; /* each image will take half of the viewport height */
    object-fit: cover; /* to ensure the image fits within the specified dimensions */
    border-radius: 5px;
    margin: 0; /* remove margin to make images fill more of the page */
}

